%style {
    font-family: $font-mono;
    font-size: 14px;
    list-style: none;
    display: inline;
}

%link {
    color: $black;
    text-decoration: none;
    display: block;
}

%center {
    text-align: center;
}