@mixin button-hover {
    background-image: linear-gradient(to right, $teal , $gradient-blue);
    color: $white;
}

@mixin gradient {
    background-image: linear-gradient(to right, $gradient-dark, $gradient-blue);
}