$white: #ffffff;
$text: #060A24;
$black: black;
$teal: #00F3BB;
$blue: #0000EC;
$gradient-blue: #0000FF;
$gradient-dark: #0000A3;

$font-mono: 'IBM Plex Mono';
$font-mono-med: 'IBM Plex Mono-Medium';
$font-sans: 'IBMPlexSans';
$font-simibold: 'IBM Plex Sans-SimiBold';

$size: 36px;